* {
  padding: 0;
  margin: 0;
}
body {
  font-family: "Poppins", sans-serif;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: larger;
}

.navbar-links {
  display: flex;
  gap: 20px;
}

.navbar-links a {
  text-decoration: none;
  color: #1d232c;
}

.navbar-links a:hover {
  text-decoration: none;
  color: #1d232c;
}

.navbar-menu-toggle {
  display: none;
}

/* side-navbar */

.side-navbar {
  background-color: #ffffff;
  width: 50%;
  height: 100%;
  position: fixed;
  top: 0;
  left: -60%;
  padding: 20px;
  color: rgb(0, 0, 0);
  transition: 1.5s;
  z-index: 10;
}

.side-navbar-link {
  margin-bottom: 30px;
}
.side-navbar-links a {
  text-decoration: none;
  color: rgb(3, 3, 3);
}
.side-navbar-links a:hover {
  text-decoration: underline;
}

.hero img {
  height: 70vh;
  width: 100%;
}

.text1,
.text2,
.text3 {
  position: absolute;
}

.text1 {
  top: 50%;
  left: 60%;
}
.text2 {
  top: 40%;
  left: 60%;
}
.text3 {
  top: 60%;
  left: 60%;
}

/* Header*/

.header {
  display: flex;
  justify-content: center;
  gap: 50px;
  padding: 50px;
  position: relative;
}

.header h1 {
  font-size: 50px;
}
.header p {
  font-size: 30px;
}

.header-img {
  width: 520px;
  height: fit-content;
}
.header-button {
  background-color: #1d232c;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  color: white;
  margin-top: 10px;
  cursor: pointer;
  border-radius: 5px;
}

.header-button:active {
  transform: scale(0.98);
}

/* Service*/

.service {
  padding: 20px;
}

.service-container-1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.service-container-2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

.service-container-2 div {
  background-color: #e1e5ec;
  border-radius: 5px;
  padding: 10px;
}

/* new arrival section*/
.new-arrival {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.new-arrival-container {
  position: relative;
  flex-basis: 20%;
}

.new-arrival-container img {
  border-radius: 15px;
}

.new-arrival button {
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 5%;
  padding-bottom: 5%;
  margin-top: 10px;
  color: #1d232c;
  position: absolute;
  top: 50%;
  left: 18%;
  border-radius: 10px;
  border: none;
}
.new-arrival button:active {
  transform: scale(0.98);
  cursor: pointer;
  transition: transform 0.2s ease;
}

/* News */

.news {
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  background-color: #e1e5ec;
}

.news input {
  padding: 10px;
  width: 30vw;
  margin-bottom: 10px;
  margin-top: 10px;
  border: black none;
  border-radius: 7px;
}
.news button {
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 5px;
  background-color: #1d232c;
  color: white;
  cursor: pointer;
}
.new button:active {
  transform: scale(0.98);
}

/* Footer Section*/

.footer-container {
  /* margin-top: 10px; */
  padding: 40px;
  background-color: rgb(1, 1, 34);
  color: white;
}

.footer-box-1 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: normal;
}
.aboutfooter {
  margin-bottom: 20px;
  p + p {
    margin-top: 20px;
  }
}
.aboutfooter .heading-text {
  margin-bottom: 20px;
}

.customerfooter {
  p + p {
    margin-top: 20px;
  }
}
.customerfooter .heading-text {
  margin-bottom: 20px;
}
.customerfooter-1 {
  margin-top: 50px;
  margin-bottom: 20px;
  p + p {
    margin-top: 20px;
  }
}
.footer-icons i {
  font-size: 40px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.footer-box-1 i {
  font-size: 30px;
}
.footer-icons button i {
  font-size: 20px;
}
.footer-icons button {
  width: 200px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 15px;
  background: #ff4242;
  color: white;
  gap: 10px;
  border-radius: 5px;
  margin-top: 30px;
}

.footer-icons button:hover {
  background-color: #ff2929;
}

.product-section {
  margin-top: 20px;
}

.product-search {
  width: 80%;
  border: solid black 2px;
  border-radius: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  margin: auto;
}

.product-search input {
  border: none;
  background-color: transparent;
  width: 100%;
}

.product-search input:focus {
  outline: none;
}

.products{
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 10px;
}

.products-box{
    text-align: center;
    flex-basis: 20%;
}

.products-box img{
  border-radius: 10px;
}


/* Contact-us */
.contact-div{
  background-color: #1d232c;
  width: 50%;
  height: 500px;
  display: flex;
  flex-direction: column;
}
.contact-div > h1,label{
  color: white;
  display: flex;
}

.contact-form{
  margin-top: 20px;
  margin-bottom: 20px;
}



/* Media Query */

@media screen and (max-width: 700px) {
  .navbar-menu-toggle {
    display: block;
  }
  .navbar-links {
    display: none;
  }
  .header-img {
    display: none;
  }
  .service-container-1 {
    display: none;
  }
  .service-container-2 {
    flex-direction: column;
  }
  .footer-box-1 {
    flex-direction: column;
  }
  .hero-img {
    display: none;
  }
  .hero img {
    display: none;
  }
}
